POSTGRES_USER=put_db_user_here
# local dev uses .env; production uses Secrets Manager.
POSTGRES_PASSWORD=put_db_password_here
POSTGRES_DB=put_db_name_here
POSTGRES_HOST=pc_localhost
POSTGRES_PORT=pc_port

# S3_BUCKET_NAME WHERE CONTRACT FILES LIVE. THIS IS USED FOR TESTING PURPOSES ONLY. IN PRODUCTION, THE BUCKET NAME IS STORED IN AWS SECRETS MANAGER.
S3_BUCKET_NAME=contracts-bucket-...